<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Micro Camp: a virtual gathering of the Micro.blog community</title>
    <meta name="description" content="A virtual gathering of the Micro.blog community to share knowledge and make new connections.">
    <link rel="stylesheet" href="https://micro.camp/assets/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/favicon-192.png">
<style>
.livestream_box {
	background-color: #f3f4f6;
	border-bottom: 1px solid lightgray;
}

.tiny_avatar {
	margin-top: -2px;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 10px;
}

.youtube_line {
	display: block;
	margin-top: 4px;
}

.youtube_logo {
	margin-top: -2px;
	padding-right: 3px;
	width: 22px;
	height: 15px;
	display: inline-block;
}

.youtube_link {
	text-decoration: underline;
}

.featured_box {
	background-color: #f3f4f6;
}

.schedule_box {
	background-color: #fae1a2;
	margin-top: 40px;
	margin-bottom: 50px;
	border-radius: 20px;
}

.schedule_date {
	font-weight: bold;
	padding-bottom: 10px;
}

.schedule_table td {
	padding-bottom: 17px;
	vertical-align: top;
}

.schedule_table td.schedule_time {
	white-space: nowrap;
	font-weight: bold;
	padding-right: 20px;
	width: 150px;
}

.om_link {
	text-decoration: underline;
}

</style>
  </head>
  <body>
    <main class="flex flex-col min-h-screen items-center">
      <section id="hero" class="flex flex-col sm:flex-row justify-center items-center p-6 sm:p-14 max-w-4xl">
  <div class="mb-6 mr-0 sm:mr-12">
    <img loading="lazy" width="250" height="250" src="assets/microcamp_sticker_2023.png" alt="Micro Camp sticker that looks like a log fire with Micro.blog logo flames." />
  </div>
  <div>
    <h1 class="font-black text-4xl sm:text-6xl">Micro Camp</h1>
    <time class="italic text-gray-600 text-lg mt-4 mb-4 flex">May 19th - 20th, 2023</time>
    <p class="text-lg sm:text-xl font-light max-w-md">A virtual gathering of the Micro.blog community to share knowledge and make new connections.</p>
  </div>
</section>

<!--
<section class="w-full p-6 sm:p-16 flex items-center justify-center livestream_box">
	<iframe frameborder="0" width="640" height="360" src="https://youtube.com/embed/FvvbEtf4Tfc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>
-->

<section id="into" class="w-full p-6 sm:p-16 flex items-center justify-center featured_box">
  <div class="flex flex-col max-w-4xl">
    <h2 class="text-2xl font-medium mb-4">Micro Camp features:</h2>
    <ul class="text-lg sm:text-xl">
      <li class="mb-2">🌟 Opening session with special guest Om Malik</li>
      <li class="mb-2">🎙 Short talks by community members on a range of topics</li>
      <li class="mb-2">🔍 The State of Micro.blog panel with Manton, Jean, and Vincent</li>
      <li class="mb-2">💬 Live chat during presentations</li>
      <li class="mb-2">☕️ Mutual interest meetups</li>
      <li class="mb-2">✏️ Micro Camp stickers</li>
      <li class="mb-2">🎟️ Fun door prize drawings for those attending</li>       
    </ul>
  </div>
</section>

<!--   

<section id="register" class="w-full p-6 sm:p-16 flex items-center justify-center">
<div class="flex flex-col max-w-4xl">
    <p class="text-lg sm:text-xl p-2">Micro Camp 2023 is free! Please register here so we can keep you updated with any schedule changes and send you a reminder before the camp sessions start.</p>
 <p class="text-lg sm:text-xl p-2" style="text-decoration: underline;"><a href="https://airtable.com/shrGHUBXS4N3nr3wU">Register for Micro Camp</a></p>
    <p class="text-lg sm:text-xl p-2">💬 <a href="https://help.micro.blog/chat/channel/6/micro-camp" style="text-decoration: underline;">Join the live chat</a></p>
</div>
</section>

-->

<section id="into" class="p-6 sm:p-16 flex items-center justify-center schedule_box">
  <div class="flex flex-col max-w-4xl">
    <h2 class="text-2xl font-medium mb-4">Micro Camp 2023 schedule:</h2>
    <p style="padding-bottom: 20px;"><i>All times Pacific Daylight Time / UTC-7.</i></p>

      <p class="mb-2 schedule_date">Friday, May 19th</p>

      <table border="0" class="schedule_table">
      	<tr>
      		<td class="schedule_time">11:45 am:</td>
      		<td>
				Welcome and Announcements
      		</td>
      	</tr>

      	<tr>
      		<td class="schedule_time">12:00 pm:</td>
      		<td>
				Keynote: A Conversation with <a href="https://om.co/" class="om_link">Om Malik</a>
      		</td>
      	</tr>

      	<tr>
      		<td class="schedule_time">1:00 pm:</td>
      		<td>
				Discussion: The State of the Micro.blog Community
      		</td>
      	</tr>

      	<tr>
      		<td class="schedule_time">2:00 pm:</td>
      		<td>
				Meetup: Books 📚
      		</td>
      	</tr>

      	<tr>
      		<td class="schedule_time">2:30 pm:</td>
      		<td>
				Meetup: Photography 📷
      		</td>
      	</tr>
	</table>

      <p class="mb-2 schedule_date" style="margin-top: 20px;">Saturday, May 20th</p>

      <table border="0" class="schedule_table">
      	<tr>
      		<td class="schedule_time">9:00 am:</td>
      		<td>
				<a href="https://micro.blog/bitdepth"><img src="https://micro.blog/bitdepth/avatar.jpg" class="tiny_avatar"></a> 
				Chris Campbell: Navigating the Online Age of Entertainment: 
				How to Find Films to Watch and People to Share Them With 
				<br><a href="https://www.youtube.com/watch?v=czfHE6CN41c" class="youtube_line"><img src="assets/youtube_logo.png" class="youtube_logo"><span class="youtube_link">YouTube</span></a>
      		</td>
      	</tr>
      	<tr>
      		<td class="schedule_time">10:00 am:</td>
      		<td>
				<a href="https://micro.blog/annahavron"><img src="https://micro.blog/annahavron/avatar.jpg" class="tiny_avatar"></a> 
				Anna Havron: Getting (the Right) Things Done: 
				How an Ancient Monastic Practice Can Help You Stay Focused in a World of Distraction
				<br><a href="https://www.youtube.com/watch?v=GSqMacBblq8" class="youtube_line"><img src="assets/youtube_logo.png" class="youtube_logo"><span class="youtube_link">YouTube</span></a>
      		</td>
      	</tr>
      	<tr>
      		<td class="schedule_time">11:00 am:</td>
      		<td>
				<a href="https://micro.blog/mandaris"><img src="https://micro.blog/mandaris/avatar.jpg" class="tiny_avatar"></a> 
				Mandaris Moore: Learning in Public: Creating A Micro.blog Theme As A Path To Personal Insight
				<br><a href="https://www.youtube.com/watch?v=0eBDEzjLqYU" class="youtube_line"><img src="assets/youtube_logo.png" class="youtube_logo"><span class="youtube_link">YouTube</span></a>				
      		</td>
      	</tr>
      	<tr>
      		<td class="schedule_time">12:00 pm:</td>
      		<td>
				<a href="https://micro.blog/Miraz"><img src="https://micro.blog/Miraz/avatar.jpg" class="tiny_avatar"></a> 
				Miraz Jordan: Take the Captain’s Chair of your Micro.Blog with the MarsEdit App for Mac: Time Travel, Replicators, Warp Speed and More
				<br><a href="https://www.youtube.com/watch?v=bE8njRhs7rQ" class="youtube_line"><img src="assets/youtube_logo.png" class="youtube_logo"><span class="youtube_link">YouTube</span></a>				
      		</td>
      	</tr>
      	<tr>
      		<td class="schedule_time">1:00 pm:</td>
      		<td>
				The State of the Micro.blog Platform with Manton Reece, Jean MacDonald, and Vincent Ritter
				<br><a href="https://www.youtube.com/watch?v=HVt2cYNS1vY" class="youtube_line"><img src="assets/youtube_logo.png" class="youtube_logo"><span class="youtube_link">YouTube</span></a>				
      		</td>
      	</tr>
      	<tr>
      		<td class="schedule_time">2:00 pm:</td>
      		<td>
				Community Happy Hour
      		</td>
      	</tr>
	</table>

  </div>
</section>

<footer class="flex flex-col-reverse sm:flex-row justify-between items-center w-full p-6 sm:pr-12 sm:pl-12 bg-gray-100 text-sm">
  <span>&copy; 2023 <a href="https://micro.blog" class="underline">Micro.blog</a></span>
  <ul class="mb-4 sm:mb-0 flex flex-col sm:flex-row text-center">
    <li>
      <a href="2022/index.html" class="underline sm:mr-4">2022 sessions</a>
      <a href="2021/index.html" class="underline sm:mr-4">2021 sessions</a>
    </li>
    <li>
      <a rel="noopener nofollow" target="_blank" href="https://www.youtube.com/channel/UCTvu_w-Svg6Cdj0o8Lcr8Dw" class="flex flex-row items-center mt-4 sm:mt-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
        Find us on YouTube
      </a>
    </li>
  </ul>
</footer>

    </main>
  </body>
</html>
